<div class="row">
    <div class="col-md-12">
        <toolbar customClasses="full-width" [configList]="toolbarConfigs"></toolbar>
    </div>
    <div class="col-md-12">
        <p-dataTable [emptyMessage]="emptyMessage" [value]="manufactureCostList" (onSort)="onSort($event)" [(selection)]="selectedDatas" resizableColumns="true">
            <!-- <p-column field="feeSubject" header="费用科目" [sortable]="true"></p-column> -->
            <p-column field="feeType" header="费用类型" [sortable]="true"></p-column>
            <p-column field="feeObj" header="费用" sortable="custom"></p-column>
            <p-column field="amount" header="余额(￥)" [sortable]="true" styleClass='text-right'>
                <template let-ccl="rowData" pTemplate="body">
                    <a (click)="onDetail(ccl)" class="interlinkage" *ngIf="ccl.amount != '-'">{{ccl.amount}}</a>
                    <span *ngIf="ccl.amount == '-'">{{ccl.amount}}</span>
                </template>
            </p-column>
            <p-footer>
                <div class="total-style">
                    共{{totalRecords}}条记录
                </div>
                <p-paginator rows="10" [first]="first" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)">
                </p-paginator>
            </p-footer>
        </p-dataTable>
    </div>
</div>
<p-dialog width="1100" header="制造费用流水" [(visible)]="isShowAmountDetail" [resizable]="false" modal="true">
    <div>
        <div>
            <p-dataTable [rows]="10" [emptyMessage]="emptyMessage" [value]="detailList" columnResizeMode="fit" scrollable="true" scrollHeight="330px"  resizableColumns="true" (onSort)="onSort($event,'detail')" [(selection)]="selectedDetailDatas">
                <p-column [style]="{'width':'100px'}" field="transName" header="流程名称">
                </p-column>
                <p-column [style]="{'width':'200px'}" field="transCode" header="单号" [sortable]="true">
                </p-column>
                <p-column [style]="{'width':'100px'}" field="transType" header="交易类型">
                </p-column>
                <p-column [style]="{'width':'150px'}" field="effectiveTime" header="生效时间">
                </p-column>
                <p-column [style]="{'width':'90px'}" field="feeType" header="费用类型"></p-column>
                <p-column [style]="{'width':'90px'}" field="feeObj" header="费用">
                </p-column>
                <p-column [style]="{'width':'90px'}" field="amountAugment" header="借方(￥)" styleClass='text-right'>
                    <template let-ccl="rowData" pTemplate="body">
                        <span>{{ccl.amountAugment}}</span>
                    </template>
                </p-column>
                <p-column [style]="{'width':'90px'}" field="amountReduce" header="贷方(￥)" styleClass='text-right'>
                    <template let-ccl="rowData" pTemplate="body">
                        <span>{{ccl.amountReduce}}</span>
                    </template>
                </p-column>
                <p-column [style]="{'width':'90px'}" field="amountRemainder" header="余额(￥)" styleClass='text-right'>
                    <template let-ccl="rowData" pTemplate="body">
                        <span class="interlinkage">{{ccl.amountRemainder}}</span>
                    </template>
                </p-column>
                <p-footer>
                    <div class="total-style">
                        共{{detailTotalRecords}}条记录
                    </div>
                    <p-paginator [first]="detailFirst" [rows]="detailQuery.pageSize" [totalRecords]="detailTotalRecords" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event,'detail')">
                    </p-paginator>
                </p-footer>
            </p-dataTable>
        </div>
    </div>
</p-dialog>
