<div class="container user-login-container" style="margin-top: 100px;">
    <div class="panel panel-default" style="width: 450px;margin: auto;">
        <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
        </div>
        <div class="panel-body">
        <form class="form-horizontal" #passForm="ngForm" novalidate (ngSubmit)="onSubmit(passForm)">
            <div class="form-group" [ngClass]="{ 'has-error': passForm.submitted && !password.valid }"> 
                <div class="input-group col-md-12" style="padding-left: 30px; padding-right: 30px;margin-top: 20px">
                    <span class="input-group-addon"><i class="fa fa-key" style="width: 15px;"></i></span>
                    <input type="password" 
                        #password="ngModel" 
                        name="password" 
                        [(ngModel)]="data.password" 
                        class="form-control"  
                        placeholder="请输入密码"
                        required />                       
                </div>
                <div *ngIf="passForm.submitted && !password.valid" class="text-danger text-top">
                            <div [hidden]="!password.errors.required">新密码必填</div>
                            <div [hidden]="!password.errors.maxlength">新密码最大长度为24</div>
                            <div [hidden]="!password.errors.minlength">新密码最小长度为6</div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': passForm.submitted && !repassword.valid }"> 
                <div class="input-group col-md-12" style="padding-left: 30px; padding-right: 30px;">
                    <span class="input-group-addon"><i class="fa fa-key" style="width: 15px;"></i></span>
                    <input type="password" 
                        #repassword="ngModel" 
                        name="repassword" 
                        [(ngModel)]="data.repassword" 
                        class="form-control"  
                        placeholder="请确认输入密码"
                        required />
                </div>
                <div *ngIf="passForm.submitted && !repassword.valid" class="text-danger text-margin">
                    <div [hidden]="!repassword.errors.required">
                      确认密码必填
                    </div>
                    <div [hidden]="!repassword.errors.maxlength">
                      确认密码最大长度为24
                    </div>
                    <div [hidden]="!repassword.errors.minlength">
                      确认密码最小长度为6
                    </div>
                </div>
                <div *ngIf="passForm.submitted && data.password != data.repassword" class="text-danger text-margin" >
                    两次密码不一致
                </div>
            </div>
            <div class="form-group toLogin-margin"></div>
            <div class="form-group">
                <div style="width: 65%; margin: 0 auto;">
                    <button type="submit" class="btn btn-primary" style="width:100%;height:40px;"> 
                        确定
                    </button>
                </div>
            </div> 
        </form>      
    </div>
</div>