<div class="col-md-12">
    <div class="panel-body">
    	<div class="row">
        	<div class="col-md-9">
	            <form class="form-horizontal" #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)">
            	<div class="form-group" >
	           		<label class="col-md-2 control-label mt-5">姓名<span class='text-danger'>*</span>：</label>
		            <div class="col-md-9">
		                <input type="text" #nickName="ngModel" name="nickName" [(ngModel)]="data.nickName" class="form-control"   disabled="true"  />
			       		
		            </div>
	       		</div>
	       		<div class="form-group mt-10">
	           		<label class="col-md-2 control-label mt-5">账号<span class='text-danger'>*</span>：</label>
		            <div class="col-md-9">
		                <input type="text" #userCode="ngModel"  disabled="true" name="userCode" [(ngModel)]="data.userCode" class="form-control"  />
		            </div>
	       		</div>
	       		<div class="form-group mt-10">
	           		<label class="col-md-2 control-label mt-5">英文名：</label>
		            <div class="col-md-9">
		                <input type="text" #englishName="ngModel"  disabled="true" name="englishName" [(ngModel)]="data.englishName" class="form-control"  />
		            </div>
	       		</div>
                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !newpassworde.valid }">
	                <label class="col-md-2 control-label">新密码 <span class='text-danger'>*</span>：</label>
		            <div class="col-md-9">
		               <input type="password" #newpassworde="ngModel" name="newpassworde" [(ngModel)]="data.newpassworde" class="form-control" minlength="6" required  maxlength="24"  />
			           <div *ngIf="userForm.submitted && !newpassworde.valid" class="text-danger">
                        <div [hidden]="!newpassworde.errors.required">新密码必填</div>
					    <div [hidden]="!newpassworde.errors.maxlength">新密码最大长度为24</div>
                        <div [hidden]="!newpassworde.errors.minlength">新密码最小长度为6</div>
		              </div>
	                 </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': userForm.submitted && !repassword.valid }">
	           		<label class="col-md-2 control-label">确认密码<span class='text-danger'>*</span>：</label>
		            <div class="col-md-9">
		                <input type="password" #repassword="ngModel"  name="repassword" [(ngModel)]="data.repassword" 
                        class="form-control"  required  maxlength="24" minlength="6"/>
			       		<div *ngIf="userForm.submitted && !repassword.valid" class="text-danger">
					            <div [hidden]="!repassword.errors.required">
					              确认密码必填
					            </div>
					            <div [hidden]="!repassword.errors.maxlength">
					              确认密码最大长度为24
					            </div>
                                <div [hidden]="!repassword.errors.minlength">
					              确认密码最小长度为6
					            </div>
			       		</div>
                        <div *ngIf="userForm.submitted && data.newpassworde != data.repassword" class="text-danger">
                        	两次密码不一致
                        </div>
		            </div>                       
	       		</div>   
	       		<div class="form-group mt-10">
	           		<label class="col-md-2 control-label" >性别：</label>
                	<div class="col-md-10">
                    	<div class="radio-inline" >
	                        <input type='radio' id="male"  disabled="true"  [(ngModel)]='data.gender' name='gender' value='MAN' checked> <label for="male"> 男</label>
                    	</div>
                    	<div class="radio-inline" >
	                       <input type='radio' id="female"  disabled="true" [(ngModel)]='data.gender' name='gender' value='FEMALE'><label for="female"> 女</label>
                    	</div>
                    </div>
	       		</div>
	       		<div class="form-group mt-10" >
	           		<label class="col-md-2 control-label mt-5">手机<span class='text-danger'>*</span>：</label>
		            <div class="col-md-9">
		                <input type="text" name="mobile"  disabled="true" class="form-control"  #mobile="ngModel"  [(ngModel)]='data.mobile'    />
		                
		            </div>
	       		</div>
	       		<div class="form-group mt-10" >
	           		<label class="col-md-2 control-label mt-5">座机：</label>
		            <div class="col-md-9">
		                <input type="text" name="officePhone"  disabled="true" [(ngModel)]='data.officePhone' class="form-control" 
		                	 #officePhone="ngModel"  />
		                
		            </div>
	       		</div>
	       		<div class="form-group mt-10" >
	           		<label class="col-md-2 control-label mt-5">邮箱<span class='text-danger'>*</span>：</label>
		            <div class="col-md-9">
		                <input type="text" #email="ngModel"  disabled="true"  [(ngModel)]='data.email'  name="email" class="form-control"    />
		                
		            </div>
	       		</div>
	       		<div class="form-group mt-10">
	       			<div  class="col-md-2"></div>
			        <div  class="col-md-8">
					    <button type="submit" class="btn btn-primary" >确定</button>
			        	<button type="button" class="btn btn-default" (click)="onCancel()" data-dismiss="modal">取消</button>
			        </div>
			    </div>
	            </form>
        	</div>
        	<div class="col-md-3">
        		<img  [src]="data.files" alt="用户头像" width="100" height="100" >
        		<!-- <div style="width: 100px;">
	            	<div style="display : block;width: 80px; margin: 5px auto;">
	                    <span class='file'>更换图片
	                            <input
	                                type='file'
	                                accept="image/gif,image/jpg,image/jpeg,image/png"
	                                name='file'
	                                (change)='onFileChange($event)'
	                            />
	                    </span>
	            	</div>
	            </div> -->
        	</div>
    	</div>
    </div>
</div>