.form-width {
    width: 66.5%;
}
// .width-plss {
//     width: 72.5%!important;
// }
.countdown {
    background: #999;
    padding: 9px;
    color: #fff;
    position: relative;
    top: 7px;
    border-radius: 0 4px 4px 0;
}
.toPassword-margin {
    margin: 0 0 0 30px; 
}
// .text-top{
// 	position: relative;
//     text-align: center;
//     bottom: 20px;
// }