.person_style {
  border: 1px solid #D6D6D6;
  padding: 9px;
}
.top {
  margin-top: 30px;
}
.form_top {
  margin-bottom: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.top_title {
  position: relative;
  bottom: 65px;
  right: 10px;
  font-size: 16px;
}
.combined {
  text-align: center;
}
.dialog_title{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.dialog_form{
  margin-bottom: 45px;
}
.dialog_data{
  margin-bottom: 25px;
}

