<div class="col-md-12">
    <!--<div class="panel-heading border-bottom-header">
        <h3 class="panel-title">修改密码</h3>
    </div>-->
    <div class="panel-body">
    	<div class="row">
        	<div class="col-md-9">
                 <form class="form-horizontal" #passForm="ngForm" novalidate (ngSubmit)="onSubmit(passForm)">
                                                                      <!--表单被提交且旧密码无效就会添加haserror类-->
	            	<div class="form-group" [ngClass]="{ 'has-error': passForm.submitted && !oldpassword.valid }">
		           		<label class="col-md-2 control-label">旧密码 <span class='text-danger'>*</span>：</label>
			            <div class="col-md-5">
			                <input type="{{type}}" #oldpassword="ngModel" name="oldpassword" [(ngModel)]="data.oldpassword" class="form-control"  required minlength="6" maxlength="24" />
				       		<div *ngIf="passForm.submitted && !oldpassword.valid" class="text-danger">
                                <div [hidden]="!oldpassword.errors.required">旧密码必填</div>
						        <div [hidden]="!oldpassword.errors.maxlength"> 旧密码最大长度为24</div>
                                <div [hidden]="!oldpassword.errors.minlength">旧密码最小长度为6</div>
			                </div>
		                 </div>
	                 </div>
                     <div class="form-group" [ngClass]="{ 'has-error': passForm.submitted && !newpassworde.valid }">
		                <label class="col-md-2 control-label">新密码 <span class='text-danger'>*</span>：</label>
			            <div class="col-md-5">
			               <input type="{{type}}" #newpassworde="ngModel" name="newpassworde" [(ngModel)]="data.newpassworde" class="form-control" minlength="6" required  maxlength="24"  />
				           <div *ngIf="passForm.submitted && !newpassworde.valid" class="text-danger">
                            <div [hidden]="!newpassworde.errors.required">新密码必填</div>
						    <div [hidden]="!newpassworde.errors.maxlength">新密码最大长度为24</div>
                            <div [hidden]="!newpassworde.errors.minlength">新密码最小长度为6</div>
			              </div>
		                 </div>
	                 </div>
                    <div class="form-group" [ngClass]="{ 'has-error': passForm.submitted && !repassword.valid }">
		           		<label class="col-md-2 control-label">确认密码<span class='text-danger'>*</span>：</label>
			            <div class="col-md-5">
			                <input type="{{type}}" #repassword="ngModel"  name="repassword" [(ngModel)]="data.repassword" 
                            class="form-control"  required  maxlength="24" minlength="6"/>
				       		<div *ngIf="passForm.submitted && !repassword.valid" class="text-danger">
						            <div [hidden]="!repassword.errors.required">
						              确认密码必填
						            </div>
						            <div [hidden]="!repassword.errors.maxlength">
						              确认密码最大长度为24
						            </div>
                                    <div [hidden]="!repassword.errors.minlength">
						              确认密码最小长度为6
						            </div>
				       		</div>
                            <div *ngIf="passForm.submitted && data.newpassworde != data.repassword" class="text-danger">
                            两次密码不一致
                        </div>
			            </div>
                        
		       		</div>   
                    <div class="form-group" >
		           		<label class="col-md-2 control-label">显示密码 ：</label>
			            <div class="col-md-6 md-6-top">
			                <input type="checkbox"  name="checkbox" class="form-checkbox" (change)="onChange()"/>
			            </div>
		       		</div>     
					<div class="form-group">
						<label class="col-md-2 control-label"></label>
						<div class="col-md-9 pl-0">
							<button type="" class="btn  btn-primary" >确定</button>
        					<a href="javascript:history.go(-1);" class="btn btn-default">取消</a>
						</div>
					</div>
	            </form>
        	</div>
    	</div>
    </div>

</div>
