.nav-bar {
	height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f4;
    border-radius: 0px;
    padding-left: 10px;
    padding-top: 9px;
}
.tool-bar{
	height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f4;
    border-radius: 0px;
    padding-left: 10px;
    padding-top: 9px;
}

.tool-bar li{
	float: right;
    list-style-type: none;
    margin-right: 10px;
}

.tool-bar span{
	margin:3px;
}
.link-a{
    color: #3f7ab7;
}
.interlinkage{
    color: #2772DB;
}
