.header {
    background: #026AA7;
    // overflow: hidden;
    padding: 5px;
    z-index: 10;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.left-options {
    position: absolute;
    left: 5px;
    top: 5px;
}

.right-options {
    position: absolute;
    right: 0;
    top: 5px;
}

.header-search {
    float: left;
    margin: 0 8px 0 0;
    position: relative;
    z-index: 1;
}

input[type=text].header-search-input {
    background-color: rgba(255,255,255,.3);
    border-radius: 3px;
    border: none;
    color: rgba(255,255,255,.5);
    float: left;
    font-size: 13px;
    height: 30px;
    margin: 0;
    min-height: 30px;
    padding-right: 30px;
    padding-left: 8px;
    line-height: 19px;
    -webkit-transition: width 150ms;
    transition: width 150ms;
    width: 180px;
    z-index: 1;
}

.icon-lg {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    display: inline-block;
    font-family: trellicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #999;
}

.icon-lg.light {
    color: #fff;
    text-decoration: none;
}

.header-search-icon {
    cursor: pointer;
    position: absolute;
    font-size: 1pc;
    right: 0;
    top: 0;
    -webkit-transition: background 85ms,color 85ms;
    transition: background 85ms,color 85ms;
    z-index: 2;
}

.header-btn {
    // background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    // background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    color: #f3f3f3;
    display: block;
    font-weight: 700;
    line-height: 30px;
    margin-right: 8px;
    min-width: 30px;
    padding: 0;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    height: 30px;

    border-radius: 3px;
    text-decoration: none;
    float: left;
}

img {
    border: 0;
}

img.img-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    float: left;
    height: 40px;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% - 8px);
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cbcbcb;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    padding: 4px 0;
    z-index: 1020;

    min-width: 110px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

