
<div class="row">
  <div class="col-xs-4 col-md-4">
  	<img src="src/assets/img/icon-no-image.jpg" alt="..." class="img-rounded">
  </div>
  <div class="col-xs-8 col-md-8">
  	<p><strong>0630_T008_blue_红色</strong> </p>
  	<span class="text-left">
  		<small class="pull-left">外箱:0630-50</small>
  		<small class="pull-right">CTN:8000件</small>
  	</span>
  	<span class="text-left">
  		<small class="pull-left">单价:1.455</small>
  		<small class="pull-right">数量:10000</small>
  	</span>
  </div>
</div>
