.list-group-item:first-child{
	border-radius: 0px;
}

.list-group-item:last-child{
	border-radius: 0px;
}

img{
	height: 80px;
	width: 80px;
}

p{
	margin: 0px;
}

.row{
	border-bottom: 1px solid #9E9E9E;
}