.user-register-container{
}
.mt-5{margin-top: 5px;}.mt-10{margin-top: 10px;}.mt-20{margin-top: 20px;}
.pr-5{padding-right: 5px;}
.span-width{
    width:120px !important;
    word-break:normal;
    display: block;
    white-space:pre-wrap;
    word-wrap : break-word ;
    float: left;

}
.width-300{
    width: 300px;
}
.ml-10{margin-left: 10px}.ml-5{margin-left: 5px}
.span_style{
	background-color: #E5E5E5;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #E5E5E5;
	border-radius: 2px !important;
}
.footer-button{
    float: right;
    margin-top: 10px;
}
.clear_{
    clear: both;
}
.transparent-button-style{
    background-color: #fdfdfd !important;
    padding: 3px 11px !important;
    border: 1px solid #b4bec8 !important;
    color: #222222 !important;
    border-radius: 2px !important;
}
a{
    text-decoration:none;
    cursor:pointer;
}
.border-bottom-header{
    border-bottom: 1px solid #f3e6e6;
    padding-bottom: 10px;
}

.container-center {
    width: 1300px;
}
.col-md-left {
    margin-left: 172.4444px;
}
.fontWeight{
    font-weight: bolder;
}  
.text-red{
    color: red;
}
.background-color-default {
    background-color: #026aa7 !important;
    color: #ffffff !important;
}
